
.diagram-row {
    display: flex;
}
.diagram-col {
    flex-grow: 1;
}

.seats-diagram {
    display: flex;
    flex-direction: column;
}

.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.clickable-image
{
    cursor: pointer;

}
